/*
           _ __               
 _      __(_) /___ ___  ____ _
| | /| / / / / __ `__ \/ __ `/
| |/ |/ / / / / / / / / /_/ / 
|__/|__/_/_/_/ /_/ /_/\__,_/  
                              
Version 2019.1.0
*/

.dcoe--card {
    .image {
        order: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media-breakpoint-up(md) {

            order: inherit;
            margin-bottom: 0;
        }
    }

    .content-area {
        order: 2;
        display: flex;
        align-items: stretch;


        @include media-breakpoint-up(md) {

            order: inherit;
        }
    }

    &.last {

        @include media-breakpoint-only(sm) {
            margin-bottom: 0;
        }


        @include media-breakpoint-only(md) {
            @include make-col(12);
            @include make-row();


            margin-top: 2rem;
            margin-left: 0 !important;
            margin-right: 0 !important;


            .image {

                @include make-col(6);

            }

            .content-area {

                @include make-col(6);

            }
        }
    }

    a:not(.btn) {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }



    /* Text block Component Rules (when inserted into a card component) */

    .copy {
        margin: 0;

        .text-block {
            border: 2px solid transparent;

            h3 {
                padding: 0 !important;
            }


            &.white-bg {
                border: 2px solid $light-grey;
            }

            a {
                margin-top: 0.5rem;
                text-decoration: none;
            }

        }
    }
}