/*
           _ __               
 _      __(_) /___ ___  ____ _
| | /| / / / / __ `__ \/ __ `/
| |/ |/ / / / / / / / / /_/ / 
|__/|__/_/_/_/ /_/ /_/\__,_/  
                              
*/

body {
    background: $bg;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding: 1.2rem 2.4rem;

    &.banner {
        padding: 0;
    }

    &.banner-examples {
        padding: 0;
        .fwb { margin-bottom: 1rem;}
    }
}

h1,
h2 {
    color: $black;
    font-weight: 600;
}

a {
    color: $green;
    text-decoration: underline;

    &:hover {
        color: $green;
        text-decoration: none;
    }
}

.code-clipboard {
    background-color: rgba(97, 159, 66, 0.04);
    padding: 1.2rem;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
}

header {
    padding: 0 0 1.2rem 0;
}

.text {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 auto;
}
.table {
    th, td {
        width: 33%;
        text-align: center;
    }
}